In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

ANN regresson

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\projects\ANN project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])
# for regression no act function require generally linear function used 

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\projects\ANN project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\projects\ANN project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\projects\ANN project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\projects\ANN project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100392.4453 - mae: 100392.4453 - val_loss: 98574.8125 - val_mae: 98574.8125
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99838.9141 - mae: 99838.9141 - val_loss: 97448.2109 - val_mae: 97448.2109
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 97850.7344 - mae: 97850.7344 - val_loss: 94506.7500 - val_mae: 94506.7500
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 93862.6406 - mae: 93862.6406 - val_loss: 89464.0391 - val_mae: 89464.0391
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 87846.2422 - mae: 87846.2422 - val_loss: 82622.0312 - val_mae: 82622.0312
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 80284.5781 - mae: 80284.5781 - val_loss: 74740.9219 - val_mae: 74740.9219
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 72171.0000 - mae: 72171.0000 - val_loss: 67049.0859 - val_mae: 67049.0859
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 64675.1055 - mae: 64675.1055 - val_loss: 60553.6836 - val_mae: 60553.6836
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 58714.5156 - mae: 58714.5156 - val_loss: 55759.6367 - val_mae: 55759.6367
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 54743.6094 - mae: 54743.6094 - val_loss: 52926.3711 - val_mae: 52926.3711
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 52421.6992 - mae: 52421.6992 - val_loss: 51528.1172 - val_mae: 51528.1172
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 51340.4766 - mae: 51340.4766 - val_loss: 50995.1094 - val_mae: 50995.1094
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50863.8086 - mae: 50863.8086 - val_loss: 50812.5742 - val_mae: 50812.5742
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 50640.5312 - mae: 50640.5312 - val_loss: 50750.1562 - val_mae: 50750.1562
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50513.8477 - mae: 50513.8477 - val_loss: 50710.8047 - val_mae: 50710.8047
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 50421.6172 - mae: 50421.6172 - val_loss: 50678.5508 - val_mae: 50678.5508
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50348.9727 - mae: 50348.9727 - val_loss: 50641.5273 - val_mae: 50641.5273
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 50290.2695 - mae: 50290.2695 - val_loss: 50613.7891 - val_mae: 50613.7891
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 50238.8984 - mae: 50238.8984 - val_loss: 50583.6914 - val_mae: 50583.6914
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50193.8867 - mae: 50193.8867 - val_loss: 50557.2266 - val_mae: 50557.2266
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 50152.7109 - mae: 50152.7109 - val_loss: 50529.8281 - val_mae: 50529.8281
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 50114.2383 - mae: 50114.2383 - val_loss: 50503.9844 - val_mae: 50503.9844
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 50076.7812 - mae: 50076.7812 - val_loss: 50485.6172 - val_mae: 50485.6172
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 50043.7109 - mae: 50043.7109 - val_loss: 50466.2773 - val_mae: 50466.2773
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 50010.7539 - mae: 50010.7539 - val_loss: 50448.1055 - val_mae: 50448.1055
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49987.6875 - mae: 49987.6875 - val_loss: 50432.6289 - val_mae: 50432.6289
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49956.8945 - mae: 49956.8945 - val_loss: 50409.3477 - val_mae: 50409.3477
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 49929.6641 - mae: 49929.6641 - val_loss: 50399.1758 - val_mae: 50399.1758
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49905.9375 - mae: 49905.9375 - val_loss: 50385.7148 - val_mae: 50385.7148
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49882.4648 - mae: 49882.4648 - val_loss: 50365.6641 - val_mae: 50365.6641
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49861.4062 - mae: 49861.4062 - val_loss: 50343.8008 - val_mae: 50343.8008
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49837.6133 - mae: 49837.6133 - val_loss: 50337.7070 - val_mae: 50337.7070
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49819.8750 - mae: 49819.8750 - val_loss: 50334.0156 - val_mae: 50334.0156
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49800.5859 - mae: 49800.5859 - val_loss: 50331.6953 - val_mae: 50331.6953
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49784.0234 - mae: 49784.0234 - val_loss: 50328.5273 - val_mae: 50328.5273
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49764.8438 - mae: 49764.8438 - val_loss: 50312.6680 - val_mae: 50312.6680
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49752.7656 - mae: 49752.7656 - val_loss: 50313.0977 - val_mae: 50313.0977
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49733.2695 - mae: 49733.2695 - val_loss: 50303.3320 - val_mae: 50303.3320
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49719.1484 - mae: 49719.1484 - val_loss: 50298.1836 - val_mae: 50298.1836
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49708.4570 - mae: 49708.4570 - val_loss: 50287.7148 - val_mae: 50287.7148
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49692.9062 - mae: 49692.9062 - val_loss: 50281.9727 - val_mae: 50281.9727
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49681.8008 - mae: 49681.8008 - val_loss: 50282.6875 - val_mae: 50282.6875
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 49668.2812 - mae: 49668.2812 - val_loss: 50274.0977 - val_mae: 50274.0977
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49657.1445 - mae: 49657.1445 - val_loss: 50270.6484 - val_mae: 50270.6484
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49647.1211 - mae: 49647.1211 - val_loss: 50254.8203 - val_mae: 50254.8203
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49639.6758 - mae: 49639.6758 - val_loss: 50261.2695 - val_mae: 50261.2695
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49627.6875 - mae: 49627.6875 - val_loss: 50259.5977 - val_mae: 50259.5977
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49621.6797 - mae: 49621.6797 - val_loss: 50257.2656 - val_mae: 50257.2656
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49610.8047 - mae: 49610.8047 - val_loss: 50257.8945 - val_mae: 50257.8945
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49600.8398 - mae: 49600.8398 - val_loss: 50254.9922 - val_mae: 50254.9922
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49590.5898 - mae: 49590.5898 - val_loss: 50255.6484 - val_mae: 50255.6484
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49586.3008 - mae: 49586.3008 - val_loss: 50252.4883 - val_mae: 50252.4883
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49575.3828 - mae: 49575.3828 - val_loss: 50250.6641 - val_mae: 50250.6641
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49567.2031 - mae: 49567.2031 - val_loss: 50250.1758 - val_mae: 50250.1758
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49562.6602 - mae: 49562.6602 - val_loss: 50256.5547 - val_mae: 50256.5547
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49556.0977 - mae: 49556.0977 - val_loss: 50257.1523 - val_mae: 50257.1523
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49550.2930 - mae: 49550.2930 - val_loss: 50254.6250 - val_mae: 50254.6250
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 49539.9141 - mae: 49539.9141 - val_loss: 50252.9297 - val_mae: 50252.9297
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49532.0586 - mae: 49532.0586 - val_loss: 50249.9766 - val_mae: 50249.9766
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.2812 - mae: 49526.2812 - val_loss: 50257.0547 - val_mae: 50257.0547
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 49518.9375 - mae: 49518.9375 - val_loss: 50246.5742 - val_mae: 50246.5742
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49513.5430 - mae: 49513.5430 - val_loss: 50244.6758 - val_mae: 50244.6758
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 49508.5938 - mae: 49508.5938 - val_loss: 50248.8516 - val_mae: 50248.8516
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 49502.6172 - mae: 49502.6172 - val_loss: 50257.4609 - val_mae: 50257.4609
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 49494.7305 - mae: 49494.7305 - val_loss: 50255.3281 - val_mae: 50255.3281
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 49490.6289 - mae: 49490.6289 - val_loss: 50260.1445 - val_mae: 50260.1445
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 49484.6445 - mae: 49484.6445 - val_loss: 50250.0273 - val_mae: 50250.0273
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 49482.1680 - mae: 49482.1680 - val_loss: 50253.1133 - val_mae: 50253.1133
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 49474.3086 - mae: 49474.3086 - val_loss: 50248.9297 - val_mae: 50248.9297
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 49472.1836 - mae: 49472.1836 - val_loss: 50249.8203 - val_mae: 50249.8203
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 49466.2109 - mae: 49466.2109 - val_loss: 50248.6641 - val_mae: 50248.6641
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 49459.2969 - mae: 49459.2969 - val_loss: 50263.0000 - val_mae: 50263.0000

In [17]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 27940), started 0:00:09 ago. (Use '!kill 27940' to kill it.)

In [20]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50244.6758 - mae: 50244.6758
Test MAE : 50244.67578125

In [21]:
model.save('regression_model.h5')

d:\projects\ANN project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(